<body>
<div class="image-container">
  <img src="assets/gatto.png" alt="Image" class="image"
       (mousedown)="startSelection($event)"
       (mousemove)="drawSelection($event)"
       (mouseup)="endSelection()"
       (mouseleave)="endSelection()"
  >
  <div *ngFor="let selection of selections;"
       class="selection"
       [ngStyle]="selection"
  >
  </div>
  <div class="selection active-selection" *ngIf="isSelecting" [ngStyle]="selectionStyles"></div>
  <div class="delete-popup" *ngIf="showPopup">
    <p>Do you want to confirm this selection?</p>
    <button class="confirmButton" (click)="closePopup()">Yes</button>
    <button class="cancelButton" (click)="deleteSelection()">No</button>
  </div>
</div>
</body>

