.authentication-container {
  background-color: #212121;
  top: 0;
  right: 0;
}

.loginButton {
  cursor: pointer;
  background-color: #171717;
  color: white;
  border-radius: 40px;
  font-size: 20px;
  padding: 10px;
}








