.loginButton {
  background-color: transparent;
  color: white;
  border: none;
  background-size: 50px;
  cursor: pointer;
  font-size: 30px;
  padding: 0;
  width: 30px;
  height: 30px;
}

.loginButton:hover {
  color: #007bff;
}







