<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<div class="home">


  <div class="sidebar">
    <div>
      <h1>DALL·E 3 Image Generator</h1>
    </div>
    <div class="chat-div">
      <div *ngFor="let chat of chats" class="chat-card" (click)="onChatClick(chat)">
        <img [src]="chat.imageData" alt="Chat Image" class="chat-image">
        <div class="chat-info">
          <h3>{{ chat.title }}</h3>
        </div>
        <button class="delete-button" (click)="onDeleteClick(chat, $event)">
          <i class="fa-solid fa-trash"></i>
        </button>
      </div>
    </div>
    <div class="delete-popup" *ngIf="showDeletePopup">
      <p>Do you want to delete image?</p>
      <button class="confirmButton" (click)="deleteChat()">Yes</button>
      <button class="cancelButton" (click)="closePopup()">No</button>
    </div>
  </div>

  <div class="centerContent">



    <div class="inputDiv">
      <div class="tabs-container">
        <div class="tabs">
          <button class="tab" (click)="setActiveTab('manual')" [class.active]="activeTab === 'manual'">Manual Prompt</button>
          <button class="tab" (click)="setActiveTab('predefined')" [class.active]="activeTab === 'predefined'">Predefined Options</button>
        </div>
      </div>

      <!-- Form -->

      <form class="input-form">
        <input type="text" name="inputPrompt" placeholder="Enter a description..." class="input-prompt" id="inputPrompt" [(ngModel)]="inputPrompt" required>

        <div class="select-row">
          <div class="select-wrapper">
            <select (change)="setStyle($event)" class="option-select" id="selectedStyle" [(ngModel)]="selectedStyle" name="selectedStyle">
              <option value="" disabled selected>Select a Style</option>
              <option value="Realistic">Realistic</option>
              <option value="Oil Painting">🎨 Oil Painting</option>
              <option value="Watercolor">🖌️ Watercolor</option>
              <option value="Digital Art">💻 Digital Art</option>
            </select>
          </div>
          <div class="select-wrapper">
            <select (change)="setMood($event)" class="option-select" id="selectedMood" [(ngModel)]="selectedMood" name="selectedMood">
              <option value="" disabled selected>Select a Mood</option>
              <option value="Normal">Normal</option>
              <option value="Serene">😌 Serene</option>
              <option value="Chaotic">🌀 Chaotic</option>
              <option value="Mystical">🔮 Mystical</option>
            </select>
          </div>
        </div>
        <button type="button" (click)="handleSubmit()" class="submit-button" id="submitButton">Generate</button>
      </form>
    </div>



    <div class="selectImageDiv">
      <h2>Or choose file to upload</h2>


      <div class="file-chooser-div">
        <mat-icon class="info-button" (click)="popupFileChooser()">info</mat-icon>
        <input class="inputImage" type="file" (change)="fileInputChange($event)" accept="image/*" lang="en" />
      </div>

      <div class="save-reset-button-div">
        <button *ngIf="selectedImage || generatedImage" class="save-button" (click)="saveImage()">Save image</button>
        <button *ngIf="selectedImage || generatedImage" class="edit-button" (click)="editImage()">Edit image</button>
        <button *ngIf="selectedImage || generatedImage" class="reset-button" (click)="resetImage()">Reset</button>
      </div>




      <!-- Loading Indicator -->
      <div class="spinnerDiv" *ngIf="isLoading">
        <mat-spinner></mat-spinner>
        <p>Loading...</p>
      </div>

      <div class="image-container">
        <img *ngIf="selectedImage && !editImageValue" id="selected-image" [src]="selectedImage" alt="Selected Image" />
      </div>
    </div>

    <label id="edit-label" *ngIf="editImageValue">Edit mode. (Click edit button to exit)</label>


    <div>
      <img *ngIf="generatedImage && !editImageValue" id="generated-image" [src]="generatedImage" alt="Generated Image"/>
    </div>

    <app-image-selector *ngIf="editImageValue"></app-image-selector>

  </div>

  <div class="loginDiv">
    <mat-icon class="settings-button" (click)="openSettings()">settings</mat-icon>
  </div>
  <app-settings *ngIf="showSettings" (close)="closeSettings()"></app-settings>


  <div class="loginDiv">
    <app-authentication></app-authentication>
  </div>

  <app-popup
    *ngIf="isPopupVisible"
    [title]="popupTitle"
    [message]="popupMessage"
    (closed)="onPopupClosed()">
  </app-popup>

</div>
</body>



