<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
</head>
<body>
<div class="container">
  <h1 class="title">Welcome back!</h1>
  <form class="loginForm">
    <input type="email" id="email" name="email" [(ngModel)]="email"  placeholder="Email address" required />
    <input type="password" id="password" name="password" [(ngModel)]="password" placeholder="Password" required />
    <div class="invalidLogin" *ngIf='invalidLogin'>{{errorMessage}}</div>
    <button (click)="handleLogin()" type="submit">Continue</button>
    <button type="button" onclick="window.location.href='http://localhost:4200/access';">Back to access page</button>

  </form>
</div>

</body>
</html>
