<!DOCTYPE html>
<html lang="it">
<head>
  <title>Start creating!</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="container">

  <div class="left">
    <p>Discover AI's Creative Potential with Ai Image Editor - Redefining Image Creation</p>
    <img src="assets/gatto.png">
  </div>

  <div class="right" style="text-align:center;">
    <h1>Start</h1>
    <div class="buttonDiv">
      <button class="button" onclick="window.location.href='http://localhost:4200/login';">Login</button>
      <button class="button" onclick="window.location.href='http://localhost:4200/registration';">Register</button>
    </div>
  </div>

</div>
</body>
</html>
